p{
    text-align: center;
    background-color: blanchedalmond;
    text-decoration: dashed;
}
h1 {
    background-color: brown;
}
.main{
    color: aquamarine;
}
#point{
    text-align: center;
    color: beige;
    background-color: aqua;
}