*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    margin: 50px 30px;
}
h1{
    background-color: #d9d9d9;
}

.c14{
    background-color:#0889da;
}
.c13{
    background-color:#0095e2;
}
.c12{
    background-color: #009fe8;
}
.c11{
    background-color:#32a9e5;
}
.c10{
    background-color: #30abe7;
}
.c9{
    background-color:#75bff2;
}
.c8{
    background-color:#8ccaf1;
}
.c7{
    background-color:#01ba88;
}
.c6{
    background-color:#f5b0cc;
}

.c5{
    background-color:#f69fc0;
}
.c4{
    background-color: #f58db1;
}

.c3{
    background-color: #f37ba6;
}

.c2{
    background-color: #f36a98;
}

.c1{
    background-color: #f5598d;
}
.c0{
    background-color: #ee3e7f;
}