#main-title{
    color: blue;
    background-color: hsl(210, 100%, 50%);
}

#color-box{
    background-color: rgb(212, 212, 112);
}

.intro-paragraph{
    color: rgb(255, 99, 71)
}

p{
    color: rgba(0, 128, 0, 0.3);
}